# Python
__pycache__/
*.py[cod]
*.log

# Entorno y claves
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/

# Archivos generados por BetGeniuX
partidos.json
progreso.json
ultimo_pick.json
registro_pronosticos.txt
